pysqlite3-binary
langchain
chromadb
unstructured
sentence-transformers
faiss-cpu
tiktoken
openai
pypdf
loguru
docx2txt
streamlit
langchain_community
langchain-openai
bitsandbytes
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
transformers
fastapi
uvicorn
openai