pysqlite3-binary
langchain
chromadb
unstructured
sentence-transformers
tiktoken
openai
pypdf
loguru
docx2txt
streamlit
langchain_community
langchain-openai
bitsandbytes
transformers
fastapi
uvicorn
torch==1.13
